#main .wrapper {
  background-image: url(https://p.ssl.qhimg.com/t01bb2d30c2c1feaa69.png);
}
#main .wrapper .sdk .dialog .register-box form {
  position: relative;
}
#main .wrapper .sdk .dialog .register-box form > div {
  position: relative;
}
#main .wrapper .sdk .dialog .register-box form > div .err-msg {
  position: absolute;
  top: 42px;
  left: 0;
  display: none;
  color: #f36903;
  font-size: 12px;
}
#main .wrapper .sdk .dialog .register-box form input {
  padding-left: 40px;
}
#main .wrapper .sdk .dialog .register-box form .form-icon {
  position: absolute;
  left: 0;
  top: 2px;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: #ccc;
}
#main .wrapper .sdk .dialog .register-box form .phone .tel-prev {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 42px;
  text-indent: 10px;
  border: 1px solid #ddd;
  line-height: 42px;
}
#main .wrapper .sdk .dialog .register-box form .phone .tel-prev i {
  width: 22px;
  height: 22px;
  background: url(https://p0.ssl.qhimg.com/t01b89baa0fe96db9f1.png) no-repeat;
  position: absolute;
  top: 10px;
  right: 3px;
}
#main .wrapper .sdk .dialog .register-box form .phone .form-icon {
  left: 86px;
}
#main .wrapper .sdk .dialog .register-box form .phone input {
  float: right;
  vertical-align: middle;
  width: 222px !important;
}
#main .wrapper .sdk .dialog .register-box form .checkcode-box input {
  box-sizing: content-box;
  width: 82px;
  height: 20px;
  padding: 10px 10px 10px 40px;
  vertical-align: middle;
}
#main .wrapper .sdk .dialog .register-box form .checkcode-box .checkcode {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 102px;
  height: 42px;
  border: 1px solid #ddd;
}
#main .wrapper .sdk .dialog .register-box form .checkcode-box .change {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  line-height: 42px;
  height: 42px;
  color: #00c89f;
}
#main .wrapper .sdk .dialog .register-box form .note-check {
  width: 308px;
  position: relative;
}
#main .wrapper .sdk .dialog .register-box form .note-check button {
  background-color: #fafafa;
  width: 120px;
  height: 40px;
  position: absolute;
  top: 1px;
  right: 1px;
  border: none;
  border-left: 1px solid #ddd;
  outline: none;
}
#main .wrapper .sdk .dialog .register-box form .agree-box {
  font-size: 12px;
  color: #6f6f6f;
}
#main .wrapper .sdk .dialog .register-box form .agree-box label {
  font-weight: normal;
  margin: 0;
}
#main .wrapper .sdk .dialog .register-box form .agree-box label input {
  margin: 0 5px 2px 0;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}
#main .wrapper .sdk .dialog .register-box form .agree-box label a {
  font-size: 12px;
  color: #00c89f;
}
#main .wrapper .sdk .dialog .bottom {
  height: auto;
}
#main .wrapper .sdk .dialog .bottom p {
  line-height: 65px;
  font-size: 14px;
  color: #666;
  margin-bottom: 0;
  text-align: center;
}
#main .wrapper .sdk .dialog .bottom p a {
  float: none;
}
