@charset 'utf-8';
.container {
  padding: 0;
  width: 1240px;
}
#top-box {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #333;
}
#top-box > .container {
  height: 40px;
}
#top-box > .container a {
  display: inline-block;
  padding: 10px 0;
  margin-right: 25px;
  line-height: 20px;
  color: #fff;
  box-sizing: border-box;
}
#top-box .icon-box {
  position: relative;
  margin-right: 0;
  padding-top: 5px;
  width: 44px;
  height: 40px;
}
#top-box .icon-box > a {
  margin: 0;
  padding: 5px 10px 10px;
  width: 100%;
  height: 35px;
  border-radius: 5px 5px 0 0/5px 5px 0 0;
}
#top-box .icon-box .icon {
  display: inline-block;
  width: 24px;
  height: 20px;
  background: url(../images/icon.png) no-repeat;
  background-size: 200px 240px;
  background-position: -110px -50px;
}
#top-box .icon-box .detail-box {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 10;
  width: 295px;
  height: 75px;
  background-color: #fff;
  border-radius: 0 0 4px 4px/0 0 4px 4px;
}
#top-box .icon-box .text {
  line-height: 75px;
}
#top-box .icon-box:hover a {
  background-color: #fff;
  height: 40px;
}
#top-box .icon-box:hover .icon {
  background-position: -140px -50px;
}
#top-box .icon-box:hover .detail-box {
  display: block;
}
#head {
  margin-top: 40px;
  width: 100%;
  height: 632px;
}
#head .header-box {
  position: relative;
  padding: 30px 0 36px;
  height: 102px;
  background-color: #fff;
}
#head .header-box > div {
  padding: 0;
  height: 36px;
}
#head .header-box > div > a {
  display: block;
  float: left;
  margin: 0 50px 0 0;
  height: 100%;
  font-size: 18px;
  line-height: 36px;
}
#head .header-box .logo {
  width: 180px;
  height: 100%;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
}
#head .header-box .search-box {
  position: relative;
  padding: 5px 30px;
  width: 420px;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 18px;
}
#head .header-box .search-box input {
  width: 340px;
  height: 24px;
  border: none;
}
#head .header-box .icon {
  position: absolute;
  right: 20px;
  width: 24px;
  height: 24px;
  background: url(../images/icon.png) no-repeat;
  background-size: 200px 240px;
  background-position: -170px -47px;
}
#head .header-box .hot {
  position: absolute;
  top: 36px;
}
#head .header-box .hot a {
  margin-right: 10px;
  color: #666;
}
#head .header-box .category-box {
  position: absolute;
  top: 100%;
  width: 230px;
  height: 530px;
  z-index: 9;
  background-color: rgba(51, 51, 51, 0.7);
}
#head .header-box .category-all {
  height: 50px;
  line-height: 50px;
  background-color: rgba(51, 51, 51, 0.6);
}
#head .header-box .category-all > a {
  display: block;
  margin: 0 79px;
  width: 72px;
  height: 100%;
  font-size: 16px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#head .header-box .category-all .icon-all {
  display: inline-block;
  vertical-align: -2px;
  width: 15px;
  height: 15px;
  background: url(../images/category-all.png) no-repeat;
  background-size: 15px 15px;
}
#head .header-box .category-item {
  width: 100%;
}
#head .header-box .category-item > a {
  display: block;
  padding: 0 79px;
  width: 100%;
  height: 48px;
  font-size: 14px;
  color: #fff;
  line-height: 48px;
  text-align: left;
}
#head .header-box .category-item .item-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  padding: 20px 20px 20px 50px;
  width: 940px;
  height: 530px;
  background-color: #fff;
}
#head .header-box .category-item:hover {
  background: rgba(51, 51, 51, 0.8);
}
#head .header-box .category-item:hover .item-content {
  display: block;
}
#head .item-content div {
  box-sizing: border-box;
  float: left;
  width: 165px;
  height: 65px;
  margin-bottom: 20px;
}
#head .item-content a {
  display: block;
  width: 100%;
  overflow: hidden;
  padding-right: 10px;
  color: #666;
  line-height: 65px;
  font-size: 14px;
}
#head .item-content img {
  display: block;
  float: left;
  width: 65px;
  height: 65px;
  margin-right: 10px;
}
#head .item-content span {
  float: left;
}
#head .item-content .item-content-box {
  float: none;
  width: 890px;
  height: auto;
  margin-bottom: 15px;
  overflow: hidden;
}
#head .item-content .item-content-box > a {
  margin: 20px 10px 0 20px;
  float: left;
  width: auto;
  max-width: 90px;
  line-height: 24px;
  height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
  border-right: 1px solid #000;
}
#head .item-content .item-content-box .item-content-right {
  margin: 0;
  width: 770px;
  height: auto;
  overflow: hidden;
}
#head .item-content .item-content-box .item-content-right > div {
  width: 231px;
  margin: 0 15px 15px 0;
}
.banner-box {
  width: 100%;
  height: 530px;
}
.banner-box .swiper {
  width: 100%;
  height: 100%;
}
.banner-box .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.banner-box .swiper-wrapper a {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.banner-box .swiper-wrapper .swiper-slider-1 {
  background-image: url('../images/slider-1.webp');
}
.banner-box .swiper-wrapper .swiper-slider-2 {
  background-image: url('../images/slider-2.webp');
}
.banner-box .swiper-wrapper .swiper-slider-3 {
  background-image: url('../images/slider-3.webp');
}
.banner-box .swiper-wrapper .swiper-slider-4 {
  background-image: url('../images/slider-4.webp');
}
.banner-box .swiper-wrapper .swiper-slider-5 {
  background-image: url('../images/slider-5.webp');
}
.banner-box .swiper-wrapper .swiper-slider-6 {
  background-image: url('../images/slider-6.webp');
}
.banner-box .swiper-pagination {
  bottom: 0 !important;
}
.banner-box .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  margin: 1px 15px 1px 0px !important;
  background-color: transparent;
  border: 2px solid #000;
  opacity: 0.5;
}
.banner-box .swiper-pagination-bullet:hover {
  opacity: 1;
}
.banner-box .swiper-pagination-bullet-active {
  opacity: 0.5;
  background-color: #fff;
}
.banner-box .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 530px;
}
.banner-box .container > div {
  top: 50%;
  width: 42px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.4);
}
.banner-box .container > div:after {
  font-size: 30px;
  color: #fff;
  opacity: 0.4;
}
.banner-box .container > div:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.banner-box .container > div:hover:after {
  opacity: 0.6;
}
.banner-box .swiper-button-prev {
  left: 230px;
}
.banner-box .swiper-button-next {
  right: 0;
}
#head {
  height: auto;
}
#head .header-box .logo {
  margin-right: 0;
}
#head .header-box .nav-item {
  margin-left: 10px;
  border-left: 1px solid #333;
  height: 25px;
  line-height: 25px;
  margin-top: 5px;
  padding-left: 10px;
}
#main {
  background-color: #f0f0f0;
}
.activity .activity-item {
  width: 280px;
  height: 242px;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
}
.activity .activity-item a {
  display: block;
  width: 100%;
  height: 100%;
}
.activity .activity-item a img {
  width: 100%;
  height: 100%;
}
.mod {
  padding-top: 5px;
  margin-bottom: 10px;
}
.mod .header {
  padding: 0;
  margin-bottom: 5px;
}
.mod .header span {
  margin: 0 10px 0 0;
  font-size: 20px;
}
.mod .header a {
  font-size: 14px;
  color: #666;
}
.mod .flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mod .flex .mod-item {
  width: 280px;
  height: 460px;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
}
.mod .flex .mod-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  background-color: #fff;
}
.mod .flex .mod-item a .top-label {
  margin-bottom: 20px;
  width: 80px;
  height: 20px;
  background-color: #f17f38;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.mod .flex .mod-item a img {
  width: 240px;
  height: 240px;
}
.mod .flex .mod-item a .name {
  margin: 30px 0 0;
  font-size: 18px;
}
.mod .flex .mod-item a .desc {
  font-size: 14px;
  color: #999;
}
.mod .flex .mod-item a .price {
  color: #dd0e00;
  font-size: 20px;
}
.mod .flex .mod-item a .price del {
  font-size: 14px;
  color: #999;
}
.mod .flex .mod-item:first-child {
  width: 580px;
}
.mod .flex .mod-item:first-child a {
  padding: 0;
}
.mod .flex .mod-item:first-child img {
  width: 100%;
  height: 100%;
}
.mod .flex .more-item {
  margin-bottom: 20px;
  width: 220px;
  height: 345px;
}
.mod .flex .more-item a {
  display: block;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.mod .flex .more-item a img {
  width: 180px;
  height: 180px;
}
.mod .flex .more-item a .name {
  margin: 25px 0 0;
  width: 180px;
  height: 40px;
  font-size: 14px;
}
.mod .flex .more-item a .price {
  margin: 10px 0 0;
  width: 180px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #dd0e00;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mod .flex .more-item a .bottom-label {
  margin: 0 auto;
  width: 52px;
  height: 17px;
  line-height: 15px;
  color: #f17f38;
  border: 1px solid #f17f38;
}
.mod .mod-banner {
  margin-top: -10px;
  width: 100%;
  height: 120px;
}
.mod .mod-banner a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/mod-banner.webp') no-repeat;
}
.activity-item:hover,
.mod-item:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  transition: all 0.2s ease-out;
}
#main {
  min-height: 300px;
  background-color: #eee;
  padding: 20px 0 30px;
  overflow: hidden;
}
#main .empty {
  width: 100%;
  height: 520px;
  overflow: hidden;
}
#main .empty .empty-cart {
  height: 206px;
  margin: 157px auto 0;
  position: relative;
  width: 640px;
}
#main .empty .empty-cart img {
  height: 206px;
  width: 295px;
  border: 0;
  vertical-align: middle;
}
#main .empty .empty-cart p {
  color: #BEBEBE;
  font-size: 28px;
  left: 340px;
  position: absolute;
  top: 80px;
}
#main .empty .empty-cart a {
  color: #fff;
  background: #FC673E;
  font-size: 20px;
  height: 40px;
  left: 340px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 120px;
}
#main .shopping {
  width: 1020px;
  margin: 0 auto;
}
#main .shopping .col-1 {
  width: 62px;
}
#main .shopping .col-2 {
  width: 352px;
}
#main .shopping .col-3 {
  width: 160px;
}
#main .shopping .col-4 {
  width: 116px;
}
#main .shopping .col-5 {
  width: 102px;
}
#main .shopping .col-6 {
  width: 116px;
}
#main .shopping .col-7 {
  width: 111px;
}
#main .shopping .top-box {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}
#main .shopping .top-box > div {
  float: left;
  height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 50px;
}
#main .shopping .top-box .col-1 .allcheck {
  width: 13px;
  height: 13px;
  margin-top: 0;
  vertical-align: middle;
  margin-bottom: 3px;
}
#main .shopping .table-header {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 50px;
  padding-left: 20px;
}
#main .shopping .shopping-items {
  background-color: #fff;
}
#main .shopping .shopping-items .item {
  width: 100%;
  overflow: hidden;
}
#main .shopping .shopping-items .item .center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#main .shopping .shopping-items .item > div {
  float: left;
  height: 106px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
#main .shopping .shopping-items .item .col-1 {
  line-height: 106px;
  position: relative;
  border: none;
}
#main .shopping .shopping-items .item .col-1 .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#main .shopping .shopping-items .item .good-info {
  padding: 18px 0;
  text-align: left;
}
#main .shopping .shopping-items .item .good-info img {
  width: 70px;
  height: 70px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
#main .shopping .shopping-items .item .good-info a {
  vertical-align: top;
  margin-left: 5px;
  font-size: 14px;
}
#main .shopping .shopping-items .item .good-type,
#main .shopping .shopping-items .item .single-price,
#main .shopping .shopping-items .item .all-price,
#main .shopping .shopping-items .item .delete {
  text-align: center;
  line-height: 106px;
  font-size: 14px;
}
#main .shopping .shopping-items .item .good-num {
  position: relative;
}
#main .shopping .shopping-items .item .good-num .box {
  width: 100px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #ccc;
}
#main .shopping .shopping-items .item .good-num .box input {
  float: left;
  width: 40px;
  height: 100%;
  border: none;
  border-width: 0 1px 0 1px;
  border-color: #ccc;
  border-style: solid;
  text-align: center;
  font-size: 14px;
  vertical-align: top;
}
#main .shopping .shopping-items .item .good-num .box input:focus {
  outline: none;
}
#main .shopping .shopping-items .item .good-num .box a {
  float: left;
  font-size: 14px;
  width: 29px;
  height: 20px;
  line-height: 20px;
}
#main .shopping .shopping-items .item .all-price {
  color: #f33;
}
#main .shopping .bottom-box {
  margin: 15px 0 0;
  width: 100%;
  height: 72px;
  background-color: #fff;
  line-height: 72px;
}
#main .shopping .bottom-box .col-1 {
  height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 72px;
}
#main .shopping .bottom-box .col-1 .allcheck {
  width: 13px;
  height: 13px;
  margin-top: 0;
  vertical-align: middle;
  margin-bottom: 3px;
}
#main .shopping .bottom-box .delete-checked {
  line-height: 72px;
  margin-left: 20px;
  font-size: 14px;
}
#main .shopping .bottom-box .pay {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 40px 0 50px;
  background: linear-gradient(180deg, #ff3333 0, #ff6633 100%);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  width: 160px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-indent: 0;
}
#main .shopping .bottom-box .checkedgoods-info {
  line-height: 1;
  margin-top: 20px;
}
#main .shopping .bottom-box .checkedgoods-info .row-1 {
  font-size: 14px;
}
#main .shopping .bottom-box .checkedgoods-info .row-1 span {
  color: #f33;
}
#main .shopping .bottom-box .checkedgoods-info .row-1 b {
  color: #f33;
}
#main .shopping .bottom-box .checkedgoods-info .row-2 {
  font-size: 12px;
  text-align: right;
  color: #999;
}
.floor-box span {
  position: relative;
  display: inline-block;
  margin: -10px auto 10px;
  padding: 5px 100px;
  width: auto;
  font-size: 18px;
  color: #666;
}
.floor-box span::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 90px;
  height: 1px;
  background-color: #333;
}
.floor-box span::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 90px;
  height: 1px;
  background-color: #333;
}
#footer .footer-top {
  padding: 60px 0;
  width: 100%;
  height: 350px;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
}
#footer .footer-top .box {
  padding: 0;
  height: 230px;
}
#footer .footer-top .box h2 {
  margin: 0 0 27px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}
#footer .footer-top .box .text {
  display: block;
  margin: 0 0 6px;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}
#footer .footer-top .about {
  padding-right: 70px;
}
#footer .footer-top .about .icon-box {
  margin: 20px 0 0;
  padding-top: 20px;
  font-size: 14px;
  line-height: 30px;
  border-top: 1px solid #333;
  white-space: nowrap;
}
#footer .footer-top .about .icon-box span {
  display: inline-block;
  height: 30px;
  vertical-align: middle;
}
#footer .footer-top .about .icon-box .hover-img {
  display: none;
  position: absolute;
  top: -123px;
  left: -52px;
  width: 130px;
  height: 130px;
  background: url(https://p3.qhimg.com/t01c6e3b990efb8f77d.png) no-repeat;
  background-size: contain;
  background-position: top center;
}
#footer .footer-top .about .icon-box .hover-img img {
  margin-top: 10px;
  width: 106px;
  height: 106px;
}
#footer .footer-top .about .icon-box .icon-wechat {
  position: relative;
  margin: 0 0 0 10px;
  width: 30px;
  background: url(../images/icon.png) no-repeat;
  background-position: -8px -162px;
}
#footer .footer-top .about .icon-box .icon-wechat:hover .hover-img {
  display: block;
}
#footer .footer-top .about .icon-box .icon-sina {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
  width: 30px;
  height: 30px;
  background: url(../images/icon.png) no-repeat;
  background-position: -40px -162px;
}
#footer .footer-top .about .icon-box .icon-sina:hover .hover-img {
  display: block;
}
#footer .footer-top .help {
  padding: 0 30px;
}
#footer .footer-top .help > div {
  margin-right: 100px;
}
#footer .footer-top .contact {
  border-left: 1px solid #333;
}
#footer .footer-top .contact > p {
  text-align: center;
}
#footer .footer-top .contact .phone {
  font-size: 28px;
  font-weight: 700;
}
#footer .footer-top .contact .work-time {
  font-size: 14px;
  color: #999;
}
#footer .footer-bottom {
  width: 100%;
  height: 200px;
  background-color: #333;
}
#footer .footer-bottom .service-list {
  display: flex;
  justify-content: space-evenly;
  padding: 25px 0;
  border-bottom: 1px solid #666;
}
#footer .footer-bottom .service-list a {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  color: #fff;
}
#footer .footer-bottom .service-list a span {
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 30px;
  background: url(../images/icon.png) no-repeat;
}
#footer .footer-bottom .service-list a .icon-return {
  background-position: -10px -197px;
}
#footer .footer-bottom .service-list a .icon-exchange {
  background-position: -45px -197px;
}
#footer .footer-bottom .service-list a .icon-package {
  background-position: -80px -197px;
}
#footer .footer-bottom .copyright-line {
  padding: 18px 0 21px;
  text-align: center;
}
#footer .footer-bottom .copyright-line p {
  margin: 0;
  line-height: 20px;
}
#footer .footer-bottom .copyright-line p:nth-child(1),
#footer .footer-bottom .copyright-line p:nth-child(2) > a {
  color: #fff;
  font-size: 14px;
}
#footer .footer-bottom .copyright-line p:nth-child(3) {
  color: rgba(255, 255, 255, 0.5);
}
#left-aside {
  float: left;
  margin: -240px 0 0 80px;
  position: sticky;
  bottom: 20%;
  background-color: #fff;
  box-shadow: 0px 0px 6px #ccc;
  transform: scale(0);
  transition: all 0.5s;
}
#left-aside a {
  display: block;
  width: 80px;
  height: 30px;
  color: #666;
  text-align: center;
  transition: all 0.3s ease-out;
}
#left-aside a span {
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-bottom: 1px solid #eee;
  transition: all 0.3s ease-out;
}
#left-aside a span span:last-child {
  border: none;
}
#left-aside a:hover {
  background: #f6f6f6;
  color: #dd0e00;
  font-weight: 700;
}
#left-aside a:hover span {
  transform: translateX(2px);
}
#left-aside .current {
  background: #f6f6f6;
  color: #dd0e00;
  font-weight: 700;
}
#left-aside .current span {
  transform: translateX(2px);
}
#right-aside {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  z-index: 9;
  border-left: 1px solid #e7e7e7;
  background: rgba(255, 255, 255, 0.8);
}
#right-aside a {
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  text-align: center;
  transition: all 0.3s ease-out;
}
#right-aside a .icon {
  display: inline-block;
  margin: 8px 0;
  width: 20px;
  height: 20px;
  background: url(../images/icon.png) no-repeat;
}
#right-aside a .hover-img {
  position: absolute;
  display: none;
  right: 100%;
  bottom: 0;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 4px 0 #000000;
  text-align: center;
  z-index: 1;
}
#right-aside a:hover {
  background-color: #f0f0f0;
}
#right-aside a:hover .hover-img {
  display: block;
}
#right-aside .middle {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
}
#right-aside .middle .feedback .icon {
  background-position: -172px -81px;
}
#right-aside .middle .wechat .icon {
  background-position: -172px -105px;
}
#right-aside .middle .wechat .hover-img {
  width: 110px;
  height: auto;
  padding: 2px;
}
#right-aside .middle .wechat .hover-img .wechat-qrcode {
  width: 106px;
  height: 106px;
  background: url(../images/wechat.png) no-repeat center top;
  background-size: contain;
}
#right-aside .middle .wechat .hover-img p {
  margin: 0;
}
#right-aside .middle .contact .icon {
  background-position: -172px -129px;
}
#right-aside .bottom {
  position: absolute;
  bottom: 160px;
  right: 0;
  width: 100%;
}
#right-aside .bottom .qrcode .icon {
  background-position: -172px -154px;
}
#right-aside .bottom .qrcode .click-img {
  width: 128px;
  height: 230px;
  position: absolute;
  right: 30px;
  bottom: 0;
}
#right-aside .bottom .qrcode .click-img img {
  width: 100%;
  height: 100%;
}
#right-aside .bottom .qrcode .click-img i {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(https://p2.qhimg.com/t011705ed887cfa0629.png) no-repeat center;
}
#right-aside .bottom .back-top {
  transform: scale(0);
  transition: all 0.3s;
}
#right-aside .bottom .back-top .icon {
  background-position: -172px -180px;
}
