#main {
  background-color: #f0f0f0;
}

.activity {
  .activity-item {
    width: 280px;
    height: 242px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;

    a {
      display: block;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.mod {
  padding-top: 5px;
  margin-bottom: 10px;

  .header {
    padding: 0;
    margin-bottom: 5px;

    span {
      margin: 0 10px 0 0;
      font-size: 20px;
    }

    a {
      font-size: 14px;
      color: #666;
    }
  }

  .flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .mod-item {
      width: 280px;
      height: 460px;
      margin-bottom: 20px;
      border-radius: 4px;
      overflow: hidden;
      // background-color: pink;

      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 30px 20px;
        background-color: #fff;

        .top-label {
          margin-bottom: 20px;
          width: 80px;
          height: 20px;
          background-color: #f17f38;
          color: #fff;
          font-size: 14px;
          line-height: 20px;
        }

        img {
          width: 240px;
          height: 240px;
        }

        .name {
          margin: 30px 0 0;
          font-size: 18px;
        }

        .desc {
          font-size: 14px;
          color: #999;
        }

        .price {
          color: #dd0e00;
          font-size: 20px;

          del {
            font-size: 14px;
            color: #999;
          }
        }
      }

      &:first-child {
        width: 580px;

        a {
          padding: 0;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .more-item {
      margin-bottom: 20px;
      width: 220px;
      height: 345px;

      a {
        display: block;
        padding: 20px;
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        background-color: #fff;

        img {
          width: 180px;
          height: 180px;
        }

        .name {
          margin: 25px 0 0;
          width: 180px;
          height: 40px;
          font-size: 14px;
        }

        .price {
          margin: 10px 0 0;
          width: 180px;
          height: 50px;
          line-height: 50px;
          font-size: 20px;
          color: #dd0e00;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .bottom-label {
          margin: 0 auto;
          width: 52px;
          height: 17px;
          line-height: 15px;
          color: #f17f38;
          border: 1px solid #f17f38;
        }
      }

    }
  }

  .mod-banner {
    margin-top: -10px;
    width: 100%;
    height: 120px;

    a {
      display: block;
      width: 100%;
      height: 100%;
      background: url('../images/mod-banner.webp') no-repeat;
    }

  }

}

// 过渡
.activity-item,
.mod-item {
  &:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.2s ease-out;
  }
}